.product-by-cate {
  padding-top: 80px;
}
.nav-navi {
  color: white;
}

.nav-navi .ant-breadcrumb-link,
.nav-navi .ant-breadcrumb-link a {
  color: white !important;
}

.nav-navi .ant-breadcrumb-separator {
  color: white;
}

.nav-navi svg {
  fill: white;
}
